* { margin: 0; padding: 0; box-sizing: border-box;}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

}

.blue {
    background: linear-gradient(0deg, #010039, #010039);
    width: 50%;
    height: 99vh;

    display: flex;
    justify-content: center;
}
.blue.on {
    order: 2;
}
.yellow {
    background: linear-gradient(0deg, #F9F24A, #F9F24A);
    width: 50%;
    height: 99vh;

    display: flex;
    justify-content: center;
}

.container .blue img,
.container .yellow img {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 20%;
}

button {
    position: absolute;

    width: 15%;
    height: 10%;

    background-color: aliceblue;

    font-family: 'Red Rose', cursive;
    font-size: 2rem;
    text-shadow: 6px 8px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer; 
}